.invisibleBox{
    -fx-background-color: transparent;
}

/*.topBar{*/
/*    -fx-background-radius: 25 25 0 0;*/
/*    -fx-background-color: #0b3048;*/
/*}*/



/*.background{*/
/*    -fx-background-color: #05263b;*/
/*    -fx-background-radius: 25;*/
/*}*/


/*.closeButton{*/
/*    -fx-background-color:#0b3048;*/
/*}*/

/*.closeButton:hover{*/
/*    -fx-background-color: #e94e50;*/
/*}*/


.chart{
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-legend-visible: false;
}

/* Axis (x and y) styles */
.axis-label {
    -fx-text-fill: #9b9c9e;
    -fx-font-family: "Times New Roman";
}

/* Invisible backdround lines */
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.axis {
    -fx-tick-label-fill: #9b9c9e;
    -fx-minor-tick-length: 1;
}

.chart-plot-background {
    /** -fx-background: linear-gradient(to top right,#e66465, #9198e5); **/
    -fx-background: transparent;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-area-symbol { -fx-background-color: #6098f7; }
.default-color1.chart-area-symbol { -fx-background-color: #f7406e; }
.default-color2.chart-area-symbol { -fx-background-color: #9e9e9d; }

.default-color0.chart-series-area-line { -fx-stroke: #6098f7; }
.default-color1.chart-series-area-line { -fx-stroke: #f7406e; }
.default-color2.chart-series-area-line { -fx-stroke: #9e9e9d; }

.default-color0.chart-series-area-fill { -fx-fill: rgba(96, 152, 247, 0.5)}
.default-color1.chart-series-area-fill { -fx-fill: rgba(247, 64, 110, 0.5); }
.default-color2.chart-series-area-fill { -fx-fill: rgba(158, 158, 157, 0.5); }

