.invisibleBox{
    -fx-background-color: transparent;
}
.slider {
    -fx-control-inner-background: #942b71;
    -fx-font-size: 14px;
}

.slider .track {
    -fx-background-color: #942b71;
}

.slider .thumb {
    -fx-background-color: #f70ca9;
    -fx-background-radius: 10;
}

.end-button {
    -fx-background-color: rgba(140, 140, 255, 0.85);
    -fx-font-family: "Courier New";
    -fx-text-fill: #f2f0f0;
    -fx-font-size: 23px;
}

.hub-button {
    -fx-background-color: rgba(250, 168, 5, 0.85);
    -fx-font-family: "Courier New";
    -fx-text-fill: #545353;
    -fx-font-weight: 700;
    -fx-font-size: 13px;
}

.quarantine-button {
    -fx-background-color: rgba(130, 255, 165, 0.85);
    -fx-font-family: "Courier New";
    -fx-text-fill: #545353;
    -fx-font-weight: 700;
    -fx-font-size: 13px;
}


.chart {
    -fx-background-color: transparent;
    -fx-font-size: 15;
    -fx-text-fill: white;
    -fx-legend-visible: false;
}

.chart-title {
    -fx-text-fill: #9b9c9e;
    -fx-font-family: "Courier New";
    -fx-font-weight: 700;
    -fx-underline: true;
}
/* Axis (x and y) styles */
.axis-label {
    -fx-text-fill: #9b9c9e;
    -fx-font-family: "Courier New";
    -fx-font-weight: 700;
}

/* Invisible backdround lines */
.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.chart-area-symbol{-fx-background-radius: 10;}

.axis {
    -fx-tick-label-fill: #9b9c9e;
    -fx-minor-tick-length: 1;
}

.chart-plot-background {
    /** -fx-background: linear-gradient(to top right,#e66465, #9198e5); **/
    -fx-background: transparent;
}

.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-area-symbol { -fx-background-color: #6098f7; }
.default-color1.chart-area-symbol { -fx-background-color: #f7406e; }
.default-color2.chart-area-symbol { -fx-background-color: #9e9e9d; }

.default-color0.chart-series-area-line { -fx-stroke: #6098f7; }
.default-color1.chart-series-area-line { -fx-stroke: #f7406e; }
.default-color2.chart-series-area-line { -fx-stroke: #9e9e9d; }

.default-color0.chart-series-area-fill {-fx-fill: linear-gradient(to top right, rgba(85, 132, 212, 0.8), rgba(135, 206, 250, 0.7));}
.default-color1.chart-series-area-fill {-fx-fill: linear-gradient(to top right, rgba(247, 64, 110, 0.8), rgba(255, 105, 180, 0.9));}
.default-color2.chart-series-area-fill {-fx-fill: linear-gradient(to top right, rgba(158, 158, 157, 0.8), rgba(211, 211, 211, 0.7));}

