.text {
    -fx-font-family: "Times New Roman";
    -fx-font-size: 30px;
    -fx-text-fill: #9b9c9e;
}

.stack-pane {
    -fx-background-image: url('start_bg.jpg');
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}